# ── Programa Solana ─────────────────────────────────────────────
PROGRAM_ID=EawytSiCAZ6tKx6t1bVFmSb8Y7uTUbxMdydrokCiR71N

# ── Token cPEN (Token-2022) ──────────────────────────────────────
CPEN_MINT=3wCkqGT3MZKsnFrqrxf1Q3BX1Zb8z7ohq2cDivZAEhfn

# ── Red Solana ───────────────────────────────────────────────────
SOLANA_CLUSTER=devnet
SOLANA_RPC_URL=https://api.devnet.solana.com

# ── Frontend (Next.js / Vite — accesibles en el browser) ────────
NEXT_PUBLIC_PROGRAM_ID=EawytSiCAZ6tKx6t1bVFmSb8Y7uTUbxMdydrokCiR71N
NEXT_PUBLIC_CPEN_MINT=3wCkqGT3MZKsnFrqrxf1Q3BX1Zb8z7ohq2cDivZAEhfn
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
